@model DreamSchedulerApplication.Models.CourseSequence

@{
    ViewBag.Title = "CourseSequence";
}

<h2>CourseSequence</h2>

<table class="table">

    <caption style="margin-bottom: 30px; font-weight: bold">Course sequence</caption>
    <tr>
        <th>
            Course Code
        </th>
        <th>
            Semester
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CourseList)
    { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Course.Code }) |
                @Html.ActionLink("Details", "Details", new { id = item.Course.Code }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Course.Code })
            </td>
        </tr>
    }

</table>