@model DreamSchedulerApplication.Models.AcademicRecord

@{
    ViewBag.Title = "StudentRecord";
}

<h2 style="margin-bottom: 40px">StudentRecord</h2>


<p></p>Student Name:  @Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.LastName)</p>
<p>Student ID: @Html.DisplayFor(model => model.Student.StudentID)</p>        
<p>Student GPA: @Html.DisplayFor(model => model.Student.GPA)</p>


<table class="table">

    <caption style="margin-bottom: 30px; font-weight: bold">Courses Completed</caption>
    @foreach (var item in Model.CompletedCourses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCourseEntry", new { code = item.Course.Code }) |
                @Html.ActionLink("Details", "Details", new { code = item.Course.Code }) |
                @Html.ActionLink("Delete", "Delete", new { code = item.Course.Code })
            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Create New", "CreateCourseEntry")</p>